body{
font-size:13px;
}

#desktop{
margin:0 auto;
width:1000px;
}

.tab{
min-height:800px;
}

#chat-input, #script-input{
width:100%;
}

#script-input{
height:450px;
overflow:auto;
}

.chart{
height:400px;
width:100%;
}

.machineinfo{
padding: 10px;
float:left;
}

.machine table{
width:100%;
}

.machine{
overflow:hidden;
}

.disks{
font-size: 12px;
}

.disks{
clear:both;
}

#footer{
width:100%;
margin:30px;
text-align:center;
overflow:hidden;
}